Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [7]:
import re
a = 'Morning Vibes, Midnight silence.'
pattern = re.sub(r'[ ,.]',r':',a)
print(pattern)

Morning:Vibes::Midnight:silence:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [26]:
import pandas as pd
b = ['hello, world!', 'XXXXX test', '123four, five:; six...']
for i in b:
    pattern = re.sub(r'[.,!;:]',r'',i)
    print(pattern)

hello world
XXXXX test
123four five six

In [30]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

In [31]:
df

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [39]:
import re

def find_words(string):
  pattern = re.compile(r'\b\w{4,}\b')
  matches = pattern.findall(string)
  return matches

In [40]:
string = "Four characters long string is my next task"
result = find_words(string)
print(result)

['Four', 'characters', 'long', 'string', 'next', 'task']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [41]:
import re

def find_it(string):
    pattern = re.compile(r"\b\w{3,5}\b")
    matches = pattern.findall(string)
    return matches

In [42]:
string = "Today is a great day"
result = find_it(string)
print(result)

['Today', 'great', 'day']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [54]:
import re

def myfun(strings_list):
    pattern = re.compile(r'[()\s]')
    cleaned_strings = [pattern.sub('', string) for string in strings_list]
    return cleaned_strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output_text = myfun(sample_text)
for string in output_text:
    print(string)

example.com
hr@fliprobo.com
github.com
HelloDataScienceWorld
DataScientist


Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text

In [55]:
import re
with open('C:\\Users\\VIV\\OneDrive\\Documents\\examples.txt', 'r') as file:
    lines = file.readlines()
pattern = re.compile(r'\s*\([^)]*\)')
modified_lines = [re.sub(pattern, '', line).strip() for line in lines]
print(modified_lines)

[': ["example", "hr@fliprobo", "github", "Hello", "Data"]']

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [56]:
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = r'[A-Z][a-z]*'
uppercase_words = re.findall(pattern, sample_text)
print(uppercase_words)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [57]:
import re

def myfun(input_text):
    pattern = r'([a-zA-Z]+)(\d+)'
    modified_text = re.sub(pattern, r'\1 \2', input_text)
    return modified_text
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output_text = myfun(sample_text)
print(output_text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [58]:
def myfun(text):
    pattern = re.compile(r'([A-Z][a-z]*|[0-9]+)')
    modified_text = pattern.sub(r' \1', text).strip()
    return modified_text
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output_text = myfun(sample_text)
print("Expected Output:")
print(output_text)

Expected Output:
Regular Expression 1 Is An 2 Important Topic 3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [122]:
import pandas as pd
import re
import numpy as np

In [123]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [126]:


df['first_five_letters'] = df['Country'].apply(lambda x: x[:5])

In [127]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switz
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icela
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denma
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norwa
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwand
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burun
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [128]:
import re

pattern = r'^[a-zA-Z_0-9]+$'
strings = ["Weather=bad","Moody","FEELS LIKE SNOWY", "Temp_0"]
for a in strings:
    result = re.findall(pattern,a)
if result :
    print("The string contains only specified characters")
else:
    print("The string contains invalid characters")

The string contains only specified characters

Question 12- Write a Python program where a string will start with a specific number.

In [129]:
import re

pattern = r'^[4]+\w+.'
strings = ("4dx cinema is funloaded")
result = re.search(pattern, strings)
print (result)

<re.Match object; span=(0, 4), match='4dx '>

Question 13- Write a Python program to remove leading zeros from an IP address

In [131]:
import re

pattern = r'\b0+(\d+)\b'
ip_add = "018.383.001.004"
result = re.sub(pattern, r'\1', ip_add)
print("IP address without leading zeros:", result)

IP address without leading zeros: 18.383.1.4

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format

In [132]:
import re

with open ("C:\\Users\\VIV\\OneDrive\\Documents\\date example.txt", 'r') as file:
    for line in file:
        pattern = r'([A-Z][a-z]+ (\d{1,2})(st|rd|nd|th) (\d{4}))'
        result = re.search(pattern,line)
        if result:
            match = result.group()
            print (match)
            
        else:
            print("No match found")

August 15th 1947

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [135]:
string = 'The quick brown fox jumps over the lazy dog.'
searchh = ['fox','dog','horse']

for word in searchh:
    if word in string:
        print(f"{word}is found")
    else:
        print(f"{word}is not found in the string")

foxis found
dogis found
horseis not found in the string

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [136]:
string =  'The quick brown fox jumps over the lazy dog.'
my_search = 'fox'

result = re.search(my_search,string)
print(result)
final_result = result.start()
print("location of the match:", final_result)

<re.Match object; span=(16, 19), match='fox'>
location of the match: 16

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'

In [137]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

result = re.findall(pattern,sample_text)
print(result)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [138]:
import re
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

for match in re.finditer(pattern,sample_text):
    substring = match.group()
    start= match.start()
    end= match.end()
    result = (f"SUBSTRING:{substring}, Start Position:{start}, End Position:{end}")
    print(result)

SUBSTRING:exercises, Start Position:7, End Position:16
SUBSTRING:exercises, Start Position:22, End Position:31
SUBSTRING:exercises, Start Position:36, End Position:45

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format

In [139]:
from datetime import datetime
a = '2023-10-08'
given_format = datetime.strptime(a, '%Y-%m-%d')
corrected_format = given_format.strftime('%d-%m-%Y')
print("Given format:", given_format)
print("Corrected Format:", corrected_format)

Given format: 2023-10-08 00:00:00
Corrected Format: 08-10-2023

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [140]:
def myfun(decimals):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    result = pattern.findall(decimals)
    return result
decimals = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
final_result = myfun(decimals)
print(final_result)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [142]:
numbers = re.search(r'\d+', string)
string = " There are 300 computers in the shop"
extract = numbers.group()
position = numbers.start()

print("Numbers in the string:", extract)
print("Position:", position)

Numbers in the string: 300
Position: 11

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [143]:
sample =  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\b\d+\b'

given_value = list(map(int, re.findall(pattern,sample)))
maximum_value = max(given_value)

print(maximum_value)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [144]:
def myfun(text):
    pattern = r'([A-Z][a-z]*)'
    sample = re.sub(pattern, r' \1', text)
    sample= sample.strip()
    return sample
sample_text = "RegularExpressionIsAnImportantTopicInPython"
result = myfun(sample_text)
print(result)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [145]:
def myfun(text):
    pattern = r'([A-Z][a-z]+)'
    method = re.findall(pattern,text)
    return method
string = "It Is Going To Be A Rainy dy Tomorrrow"
output = myfun(string)
print(output)

['It', 'Is', 'Going', 'To', 'Be', 'Rainy', 'Tomorrrow']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [146]:
def myfun(text):
    pattern = r'\b(\w+)(?:\W+\1\b)+'
    method = re.sub(pattern, r'\1', text, flags = re.IGNORECASE)
    return method
sample_text = "Hello hello world world"
output_text = myfun(sample_text)
print(output_text)

Hello world

Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.

In [150]:

strings = "HelloWorld","HelloWorld!"
pattern = r'\w$'
for string in strings:
    output = re.findall(pattern,string)

    if output:
        print(f"{string} ending with alphanumeric")
    else:
        print(f"{string} does not end with alphanumeric")

HelloWorld ending with alphanumeric
HelloWorld! does not end with alphanumeric

Question 27-Write a python program using RegEx to extract the hashtags. Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

In [151]:
sample =  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r'#\w+'
result = re.findall(pattern,sample)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols. Sample Text: "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

In [152]:
string = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+\w+>'
result = re.sub(pattern, '', string)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

In [153]:
import re
with open ("C:\\Users\\VIV\\OneDrive\\Documents\\29th ques.txt", 'r' ) as file:
    for line in file:
        pattern =  re.compile(r'(\d{2,4}-\d{2,4}-\d{2,4})+')
        output = pattern.findall(line)
        print(output)

['12-09-1992', '15-12-1999']
[]
[]

Question 30- Create a function in python to remove all words from a string of length between 2 and 4. The use of the re.compile() method is mandatory. Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [154]:
def myfun(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    method = re.sub(pattern, '', text)
    return method
sample =  "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = myfun(sample)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.